@use '../styles/colors';
@use '../styles/sizes';

slide-component{
    &:nth-child(odd){
        .row.slide{
            background-color: colors.$slide-color-1;

            a{
                color: colors.$slide-color-2;
            }
        }
    }

    &:nth-child(even){
        .row.slide{
            background-color: colors.$slide-color-2;
            color: white;

            a{
                color: colors.$slide-color-1;
            }

            h2{
                color: colors.$main-super-bright-color;
            }
        }
    }
}

.slides-container,
slide-component{
    .row{
        &.slide{
            min-height: 100vh;

            @include sizes.media-query(md) { 
                min-height: calc(100vh - (sizes.$navbar-size * 4));
            }

            max-width: 100vw;

            padding-top: sizes.$navbar-size * 1.5;
            
            padding-left: sizes.$navbar-size;

            h2{
                color: colors.$main-contrast-color;
                font-size: sizes.$title-size;
                @include sizes.media-query(md) { 
                    font-size: sizes.$title-size * 0.25;
                }
                text-align: center;
            }

            h3{
                font-size: sizes.$secondary-title-size;

                @include sizes.media-query(md) { 
                    font-size: sizes.$secondary-title-size * 0.25;
                }
            }

            h4{
                font-size: sizes.$secondary-title-size * 0.75;

                @include sizes.media-query(md) { 
                    font-size: sizes.$secondary-title-size * 0.3;
                }
            }

            article{
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            img{
                width: 100%;

                @include sizes.media-query(md) { 
                    $max-size: 20em;
                    
                    max-width: $max-size;
                }
            }

            h2, h3, h4, p{
                &:not(:first-child)
                {
                    margin-top: 0.25em;
                }
            }

            .centered{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            video{
                width: 100%;
            }
        }

        &.slider-container{
            align-self: flex-end;

            .slider-button{
                font-size: sizes.$slider-buttons-size;
            }
        }
    }
}