// Palette generator: https://mycolor.space/?hex=%231C5739&sub=1
$main-color: #1C5739;
$main-bright-color: #9CB0A3;
$main-super-bright-color: #D1FBE0;
$main-dark-color: #697B70;
$main-contrast-color: #005477;
$main-contrast-bright-color: #3686AB;

$slide-color-1: #caeffb;
$slide-color-2: #4928f5;

$nav-colors: (
    nav-color-1: #563cf6,
    nav-color-2: #d85af7,
    nav-color-3: #73b993,
    nav-color-4: #ce4167,
    nav-color-5: #BEEE62
)