@use './colors';
@use './sizes';

slide-component{
    &:nth-child(odd){
        .row.slide{
            background-color: colors.$slide-color-1;

            a{
                color: colors.$slide-color-2;
            }
        }
    }

    &:nth-child(even){
        .row.slide{
            background-color: colors.$slide-color-2;
            color: white;

            a{
                color: colors.$slide-color-1;
            }

            h2{
                color: colors.$main-super-bright-color;
            }
        }
    }
}

.slides-container,
slide-component{
    .row{
        &.slide{
            min-height: 100vh;

            padding: 10%;

            h2{
                color: colors.$main-contrast-color;
                font-size: sizes.$title-size;
                text-align: center;
            }

            h3{
                font-size: sizes.$secondary-title-size;
            }

            h4{
                font-size: sizes.$secondary-title-size * 0.75;
            }

            article{
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            img{
                width: 100%;
            }

            h2, h3, h4, p{
                margin-top: 0.25em;
            }

            .centered{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &.slider-container{
            margin-top: sizes.$slider-buttons-size;

            .slider-button{
                align-self: center;
                font-size: sizes.$slider-buttons-size;
            }
        }
    }
}