@use './sizes';

#resultados,
#competencias,
#presentation,
#criterios {
    h2{
        font-size: sizes.$title-size * 0.7;
    }
}

#resultados{
    p{
        text-align: center;
    }
}

#competencias,
#presentation,
#criterios{
    h3{
        font-size: sizes.$secondary-title-size * 0.7;
    }
    p{
        font-size: sizes.$secondary-title-size * 0.4;
    }
}