@use './sizes';

$multiplier: 0.7;

@mixin smaller-h2(){
    h2{
        font-size: sizes.$title-size * $multiplier;
    }
}

#resultados{
    p{
        text-align: center;
    }

    @include smaller-h2();
}

#competencias,
#presentation,
#criterios,
#criterios-2,
#objetivos .objetivos-rd,
#criterios-rd,
#actividades{
    @include smaller-h2();

    $smaller-secondary-title-size: sizes.$secondary-title-size * $multiplier;

    h3{
        font-size: $smaller-secondary-title-size;
    }

    h4{
        font-size: $smaller-secondary-title-size * 0.7;
    }

    p{
        font-size: sizes.$secondary-title-size * 0.4;
    }
}

#contextualizacion{
    text-align: center;
}

#objetivos{
    .row .col-6{
        display: flex;
        align-items: center;
    }
}

#actividades{
    h3, h4, p{
        margin-bottom: 0.75rem;
    }
}

#competencias{
    h2{
        text-align: left;
    }
}