@use './colors';
@use './sizes';

.hasDatepicker{
    a{
        text-decoration: none;
    }

    .ui-datepicker{
        display: flex !important;

        .ui-datepicker-group{
            margin-right: 5em;

            @include sizes.media-query(md) { 
                margin-right: 2.5em;
            }
        }

        .ui-datepicker-title{
            text-align: center;
        }

        .ui-datepicker-calendar {

            td{
                border: none;
                text-align: center;
                padding: 0.25em;

                @include sizes.media-query(md) { 
                    padding: 0.15em;
                }

                &.ui-state-highlight {
                    background-color: colors.$main-super-bright-color;
    
                    a{
                        background: none;
                        color: colors.$main-contrast-color;
                    }
                }
            }
        }

        .ui-datepicker-prev,
        .ui-datepicker-next{
            display: none;
        }
    }
}